extends layout

block content
    #resultPage(data-ng-controller="ResultPageCtrl")
        .container
            h1 Monitoring page
            form
                label(for="url", placeholder="Put your url")
                input(name="url", type='text, placeholder="Put URL here.')
                button.btn#submitUrl Submit

            p URL = {{ hitUrl }}
            table.table.table-borderred#checkTable
                thead
                    tr
                        th URL
                        th Result
                tbody
                    tr(data-ng-repeat="ret in rets")
                        td {{ret.hitUrl}}
                        td {{ret.result}}
