doctype 5
html(ng-app)
  head
    title Monitor
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")

    body
      block content
      script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
      script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")

      script(type="text/javascript", src="/javascripts/app.js")



